/* My Styles */
@import url(https://use.typekit.net/urm7wwq.css);

:root {
    --primary-color: #edeae3;
    --secondary-color: #3f727a;
    --tertiary-color: #d6886e;
    --quaternary-color: #e9c97d;
    --quinary-color: #263c40;
}

body {
    background-color: var(--primary-color);
    text-align: center;
    align-items: center;
    margin: auto;
    scroll-behavior: smooth;
}

nav {
    box-sizing: border-box;
    margin: 0;
    font-family: 'montserrat';
    background-color: var(--primary-color);
    padding: 0 5vw;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0px 2px 8px rgba(40, 52, 54, 0.2);
    position: sticky; 
    top: 0;
}

.logo-name {
    display: flex;
    align-items: center;
}

.logo-name img {
    max-width: 6.5vw;
}

h1 {
    justify-content: flex-start;
    flex-grow: 1;
    color: var(--secondary-color);
    font-size: 2.8vw;
    font-family: 'lust';
}

.name-to-about {
    font-size: 2.8vw;
    color: var(--tertiary-color);
    text-decoration: none;
    opacity: .95;
}

.name-to-about:hover {
    color: var(--quaternary-color);
    opacity: 1;
}

.navigate-div a {
    padding: 0 1.5vw;
    color: var(--tertiary-color);
    text-decoration: none;
    font-size: 1.35vw;
    font-weight: 400;
    letter-spacing: .02vw;
    opacity: .95;
}

.navigate-div a:hover {
    color: var(--quaternary-color);
    font-weight: 600;
    opacity: 1;
}

.web-intro-bg {
    width: 100%;
    height: 45vw;
    opacity: .85;
}

.web-intro-text {
    padding-right: 22vw;
    max-width: 52%;
    margin-top: -250vw;
    padding-bottom: 9.5vw;
    opacity: .98;
}

.web-intro-logo {
    display: inline-box;
    opacity: .95;
}

.web-intro-logo-ul {
    max-width: 18%;
    margin-top: -350vw;
    margin-bottom: 28.55vw;
    margin-left: 64.45vw;
}

.web-intro-logo-circle {
    margin-top: -350vw;
    margin-bottom: 28.2vw;
    margin-left: 65.2vw;
    max-width: 18%;
    animation: rotation 10s infinite linear;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(359deg);
  }
}

.prof-statement p {
    box-sizing: border-box;
    padding: 1.4vw 4vw;
    border-radius: 1vw;
    width: 46vw;
    text-align: center;
    letter-spacing: .02vw;
    font-family: 'lust';
    font-size: 1.8vw;
    line-height: 3.4vw;
    background-color: #d6886ede;
    color: var(--primary-color);
    margin: auto;
    margin-top: -8vw;
    opacity: .98;
    cursor: default;
    margin-bottom: 2vw;
}

#home-menu {
    padding: 10vw 12vw 8vw 12vw;
    display: flex;
}


.profile-image {
    max-width: 34%;
    border-radius: 1.5em;
    border: 1vw solid var(--quaternary-color);
    animation: slideIn 6s ease-in-out;
}

@keyframes slideIn {
    from {
        opacity: 0;
        margin-left: -15%;
        width: 300%;
    }
    to {
        opacity: 1;
        margin-left: 0%;
        width: 100%;
      }
}

.short-intro-text {
    text-align: left;
    padding-left: 8.5vw;
}

.hello {
    padding-top: 3vw;
    font-size: 4vw;
}

h2 {
    font-family:'montserrat';
    font-style: italic;
    font-size: 2.2vw;
    font-weight: 600;
    color: var(--quaternary-color);
    margin-top: -3.5vw;
}

h3 {
    padding-top: 1.2vw;
    font-family: 'montserrat';
    font-weight: 700;
    font-size: 1.7vw;
    color: var(--tertiary-color);
}

h3 a {
    text-decoration: none;
    color: var(--quaternary-color);
}

h3 a:hover {
    color: var(--secondary-color);
    font-weight: 800;
}

p {
    font-family: 'montserrat';
    font-size: 1.25vw;
    letter-spacing: .025vw;
    color: var(--quinary-color);
    line-height: 2vw;
    text-align: justify;
    width: 38vw;
    line-height: 2.2vw;
}

.contact-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
}

.translation {
    margin-top: -3.1vw;
    font-family: 'Ranade-BoldItalic';
    font-size: 2.2vw;
    color: var(--quaternary-color);
    margin-bottom: 2vw;
    letter-spacing: .1vw;
}

.button {
    border: .2vw solid var(--tertiary-color);
    border-radius: .8vw;
    font-family: 'Ranade-Medium';
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    width: 24vw;
    height: 3vw;
    margin: .8vw;
    text-decoration: none;
    color: var(--secondary-color);
    text-transform: uppercase;
    padding-top: 1.2vw;
    letter-spacing: .2vw;
    font-weight: 600;
}

.button:hover {
    color: var(--quaternary-color);
}

footer{
    margin-top: 3.2vw;
    padding-top: 1.8vw;
    padding-bottom: 1.8vw;
    margin-left: 22vw;
    margin-right: 22vw;
    font-family: 'montserrat';
    font-size: 1vw;
    font-weight: 550;
    letter-spacing: .01vw;
    color: var(--secondary-color);
    border-top: .175vw solid var(--tertiary-color);
}