/* My Styles */
@import url(https://use.typekit.net/urm7wwq.css);

body {
    background-color: #edeae3;
    text-align: center;
    align-items: center;
    margin: auto;
}

img {
    height: 100vh;
}

.web-intro-arrow {
    margin-top: -100vh;
    opacity: 60%;
}

nav {
    font-family: 'montserrat';
    background-color: #edeae3;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: start;
    align-items: center;
    box-shadow: 0px 2px 5px rgb(0 0 0 / 0.4);
    position: sticky; 
    top: 0;
    padding: 1em 2.5em;
}

nav a {
    padding: 0 2em;
    text-decoration: none;
}

nav img {
    width: 22%;
}

h1 {
    padding-top: .2vw;
    color: #3f727a;
    font-size: 4.8vw;
    font-family: 'lust';
}

.profile-image{
    max-height: 40%;
}

p {
    text-align: center;
    font-family: 'montserrat';
    font-size: 1.25vw;
    margin: auto;
    padding-top: 1.8vw;
    letter-spacing: -.02vw;
    padding-bottom: 3.2vw;
    color: #4b4b4b;
    line-height: 1.8vw;
}

.intro {
    padding-top: 2.8vw;
    font-size: 2vw;
    color: #d6886e;
    font-family: 'Zodiak-Extrabold';
}

.contact-buttons {
    display: grid;
    align-items: center;
    justify-content: center;
}

.translation {
    margin-top: -3.1vw;
    font-family: 'Ranade-BoldItalic';
    font-size: 2.2vw;
    color: #e9c97d;
    margin-bottom: 2vw;
    letter-spacing: .1vw;
}

.profile-image {
    max-height: 20%;
    border-radius: 1vw;
}

.button {
    border: .2vw solid #d6886e;
    border-radius: .8vw;
    font-family: 'Ranade-Medium';
    font-size: 1.5vw;
    text-align: center;
    justify-content: center;
    width: 24vw;
    height: 3vw;
    margin: .8vw;
    text-decoration: none;
    color: #3f727a;
    text-transform: uppercase;
    padding-top: 1.2vw;
    letter-spacing: .2vw;
    font-weight: 600;
}

.button:hover {
    color: #e9c97d;
}

footer{
    margin-top: 3.5vw;
    padding-top: 1.5vw;
    padding-bottom: 1vw;
    font-family: 'Ranade-Medium';
    font-size: 1.1vw;
    color: #4b4b4b;
    border-top: .175vw solid #d6886e;
}